.counter{
    text-align: center;
}

.decrement{
    background-color: rgb(169, 0, 0);
    color: white;
    margin-inline: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #afafaf;
}

.increment{
    background-color: rgb(0, 169, 31);
    color: white;
    margin-inline: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #afafaf;
}

.reset{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-inline: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #afafaf;
}